body{
  background: #0e0e0e;
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

/* head */
.head{
  text-align: center;
  color: #FFF;
}

.head h1{
  font-size: 48px;

}

.head p{
  font-size: 16px;
  font-family: "montserrat",sans-serif;
}

.head a{
  text-decoration: none;
  color: #ff9f31;
}

.head a:hover{
  text-decoration: underline;
}
.xop-container{
  margin: 0 auto;
}

.project{
  display: block;
  width: 100%;
  text-decoration: none;
  margin: 1em 0;
}

figure{
  margin: 0;
  padding: 0;
}

.project figure img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.project figcaption{
  padding: 10px;
  background: #966116;
  color: #fff;
}

.project h3{
  color: white;
  margin: 0;
  font-size: 20px;
}

.xop-wrapper{
    max-width: 1300px;
    margin: 0 auto;
  }

.xop-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }


.project{
  width: 100%;
  height: 300px;
  text-decoration: none;
  margin: 74px 0;
}

.project figure{
  position: relative;
  overflow: hidden;
}

.project figure img{
  position: relative;
  z-index: 1;
  display: block;
  object-fit: cover;
  height: 450px;
  width: 640px;
  transition: .3s;
}


.mask{
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  color: #fff;
  transition: .3s;
  z-index: 99;
}

.project h3{
  color: #fff;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top:43%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  opacity: 0;
  transition: .3s;
}

.line{
  height: 1px;
  width: 300px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  opacity: 0;
  transition: .3s;
}

h4{
  color: #eee;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top:38%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  opacity: 0;
  transition: .3s;
}

/* hover */
figure:hover .mask{
  background-color: rgba(0, 0, 0, .5);
}

figure:hover h4{
  opacity: 1;
  top:48%;
  font-size: 20px;
  font-weight: 500;

}

figure:hover .mask .line{
  opacity: 1;
}

figure:hover .mask h3{
  opacity: 1;
  top:36%;
  /* font-size: 48px; */
}

figure:hover img{
  transform: scale(1.1);
}


.footer{
  color: #999;
  font-size: 16px;
  padding:10px 0 40px 0;
  text-align: center;
  /* background: #151617; */
  font-weight: 400;
  position: absolute;
  top:1222px;
  left: 45%;
  transform: translateX(-50%;);
}
