*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat",sans-serif;
}

.v{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index:-11;
}

 /* mask */
.bg1{
   width: 100%;
   height: 777px;
   background: linear-gradient(45deg,#141E30,#243B55);
   opacity: .3;
 }

.logo{
  position: absolute;
  width: 333px;
  z-index: 99;
  transform: translateX(-50%);
  top:122px;

}

h4{
  position: absolute;
  color: white;
  z-index: 99;
  width: 800px;
  top:234px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  font-weight: 400;
  line-height:32px;
}

h5{
  position: absolute;
  color: white;
  z-index: 99;
  width: 900px;
  top:566px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 300;
  line-height:28px;
}

/* 背景介绍 */
 .overview{
   width: 100%;
   height: 444px;
   background: #0e0e0e;
   margin: 0 auto;
   position: relative;
 }

.overview h3{
  color: #111;
  position: absolute;
  top: 88px;
  text-align: center;
  color: white;
  font-size: 60px;
  width: 100%;
  font-weight: 600;
}

 .overview p{
   color: #111;
   position: absolute;
   top: 200px;
   left: 50%;
   transform: translateX(-50%);
   color: #ccc;
   font-size: 20px;
   line-height: 34px;
   text-align: left;
   width: 700px;
 }

 /* 设计流程 */
.about{
  width: 100%;
  background: #17171d;
}
 .wrap{
   width: 1200px;
   margin: auto;
   background: #17171d;
   position:relative;
 }

.about .wrap{
  display: flex;
}

.about .wrap .item{
  width: 200px;
  margin: 0 40px;
  text-align: center;
  padding-bottom: 80px;
}

.ytr{
  text-align: center;
  font-size: 60px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  color: white;
  font-weight: 600;
}

.about .wrap .item h6{
  font-size: 20px;
  color: white;
  padding: 20px 0;
  font-weight: 500;
}

.about .wrap .item p{
  font-size: 16px;
  color: #777;
  text-align: left;
  line-height: 26px;
}

/* 回归主流程 */
.flow{
  width: 100%;
  height: 4399px;
  background: #1d1d1d;
  margin: 0 auto;
  position: relative;
}

.flow h6{
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  padding: 80px 0 30px 0;
  width: 980px;
  margin: auto;
}

.flow .line{
  width: 980px;
  height: 2px;
  margin: auto;
  background: #666;
}

.flow p{
  color: #ccc;
  font-size: 22px;
  font-weight: 300;
  padding-top: 30px;
  width: 980px;
  margin: auto;
  line-height:38px;
}

.flow img{
  margin: 40px;
  width: 1200px;
}

.flow .map{
  text-align: center;
  margin: 28px; auto;
}


/* list */
.list{
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  background: #000;
}

.list p{
  color: #fff;
  font-size: 40px;
  padding: 90px 0 0 0;
  font-weight: 500;
}

.list img{
  width: 1200px;
}

#carouselExampleIndicators{
  width: 1200px;
  margin: 40px auto;
}

.list h1{
  color: #999;
  font-size: 16px;
  margin:80px 0 20px 0;
}
