*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat",sans-serif;
  background: #151617;
}

 h1{
  text-align: center;
  color:#fff;
  padding-top: 44px;
  font-size: 48px;
  font-family: arial,pingfang sc,stheiti,microsoft yahei,sans-serif;
}

.border{
  width: 60px;
  height: 5px;
  background: linear-gradient(90deg, #e64c4c 0%, #ef32fb 100%);
  border-radius: 22px;
  margin-top: 24px;
  margin-bottom: 77px;
  margin-left: auto;
  margin-right: auto;
}

.item{
  text-align: center;
  width: 666px;
  margin: 0 auto;
  margin-bottom: 66px;
  border: 1px;
}

.pic{
  width: 666px;
  height: 470px;
  overflow: hidden;
}

img{
  width: 666px;
  transition:.2s;
}

img:hover{
  transform: scale(1.1);
}

.item h2{
  width: 666px;
  text-align: left;
  padding: 14px 0 10px 0;
  font-size: 28px;
  color: #fff;
}

.item p{
  text-align: left;
  color: #eee;
}

/* footer */
.footer{
  color: #999;
  font-size: 16px;
  padding:10px 0 40px 0;
  text-align: center;
  background: #151617;
  font-weight: 400;
}
